@charset "UTF-8";

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 14px;
	background-color: #000;
}

/*
==============================
          HEADER
==============================
*/

.header {
	padding: 10px;
	background-color: #333;
	font-weight: 900;
	font-size: 24px;
	color: #FFF;
}

/*
==============================
          ICONS
==============================
*/

.heart_full, .heart_half, .food_full, .food_half {
	width: 7px;
	height: 7px;
	display: inline-block;
}

.heart_full {
	background-image: url('../img/heart_full.png');
}

.heart_half {
	background-image: url('../img/heart_half.png');
}

.food_full {
	background-image: url('../img/food_full.png');
}

.food_half {
	background-image: url('../img/food_half.png');
}

/*
==============================
          USERS
==============================
*/

.users {
	margin: 25px auto;
	width: 80%;
	text-align: center;
}

.user {
	display: inline-block;
	width: 150px;
	margin: 25px;
	border: 3px solid #222;
	box-shadow: 0px 0px 2px #333;
}

.name {
	font-weight: 900;
	color: #FFF;
	background-color: #333;
	padding: 5px;
}

.food, .health {
	background-color: #111;
}

.location {
	background-color: #333;
}

.x, .y, .z {
	padding: 5px;
	text-align: left;
	color: #FFF;
}

.y {
	background-color: #222;
}

.x:before {
	content: "x: ";
}

.y:before {
	content: "y: ";
}

.z:before {
	content: "z: ";
}

.x:before, .y:before, .z:before {
	color: #666;
}