@charset "UTF-8";

body {
	margin: 0;
}

/*
==============================
          HEADER
==============================
*/

.header {
	
}

/*
==============================
          ICONS
==============================
*/

.heart_full {
	width: 7px;
	height: 7px;
	background-image: url('../img/heart_full.png');
	display: inline-block;
}

.heart_half {
	width: 7px;
	height: 7px;
	background-image: url('../img/heart_half.png');
	display: inline-block;
}

.food_full {
	width: 7px;
	height: 7px;
	background-image: url('../img/food_full.png');
	display: inline-block;
}

.food_half {
	width: 7px;
	height: 7px;
	background-image: url('../img/food_half.png');
	display: inline-block;
}

/*
==============================
          USERS
==============================
*/

.users {
	margin: 25px auto;
	width: 80%;
	text-align: center;
}

.user {
	display: inline-block;
	width: 150px;
	padding: 10px;
	margin: 25px;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.name {
	
}

.health {
	
}

.food {
	
}

.location {
	
}

.x {
	
}

.y {
	
}

.z {
	
}