!!! 5
html
	head
		title Ocelot
		link(rel="stylesheet", href="/css/style.css")
		block scripts
			script(src="/socket.io/socket.io.js")
			script(src="/js/jquery.js")
			script(src="/js/js-yaml.js")
			script(src="/js/common.js")
		script
			var socket = io.connect(':3000');
			socket.on('message', function(message) {
				update(message);
			});

	body
		.header
			| Ocelot
		.users
