!!! 5
html
	head
		title Ocelot
		link(rel="stylesheet", href="/css/style.css")
	body
		for val, key in pageData
			if (val.online)
				.user 
					.name #{key}
					.online #{val.online} 
					.hunger #{val.foodlevel} 
					.health #{val.health} 